<header class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active" >Task Management System</a>
    <!-- <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="toggleColor()"
      >
        <span class="navbar-toggler-icon"></span>
      </button> -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link btn btn-primary btn-lg me-3"
            routerLink="/users"
            routerLinkActive="active"
            >Users</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link btn btn-primary me-3"
            href="/project"
            routerLinkActive="active"
            >Projects</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link btn btn-primary me-3"
            routerLink="/task"
            routerLinkActive="active"
            >Tasks</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link btn btn-primary"
            routerLink="/teams"
            routerLinkActive="active"
            >Teams</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="card-body">
    <div class="btn-group">
      <!-- <button type="button" class="btn btn-primary" (click)="toggleDropdown()">Profile</button> -->
      <div class="custom-circle" (click)="toggleDropdown()"></div>
      <span class="circle-letter">P</span>

      <!-- </button> -->
      <div
        class="dropdown-menu dropdown-menu-right"
        [ngClass]="{ show: isDropdownOpen }"
        (click)="closeDropdown()"
      >
        <a class="dropdown-item" href="/home">Profile</a>
        <a class="dropdown-item" href="">Login Activity</a>
        <a class="dropdown-item" href="#">Manage Account</a>
        <a class="dropdown-item" href="#">ACL</a>
        
        <a class="dropdown-item" href="#">Log Out</a>
      </div>
    </div>
  </div>
  <!-- End Profile Button at the End -->
</header>
<div class="container mt-4">
  <!-- Your home page content goes here -->
  <!-- <router-outlet></router-outlet> -->
</div>
